.story-list {
    // list-style: none;
    padding-inline: 80px;

    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // max-width: 470px;
    // li {       
    //     padding: 5px;
    //     margin: 5px;
    // }
    a {
        color: $clr1;
        padding: 10px;
    }    
    pre {
        background-color: #ddd;
        font-size: .5em;
        color: #333;
        padding: .2em;
        margin: .2em;
    }    
    // just for development
    // margin-inline-start: 200px;
}



