.story-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-block-start: 40px;
    border-bottom:$gray-line 1px solid;
    font-size: 1em;
    width: 470px;
    .user-title.header{
        padding-block-end: 12px;
    }
    .title {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .img {
        width: 100%;
        height: auto;
        border-radius: 3px;
    }
    .prev-info{   
    .user-title{
        margin-block-start: 8px;
    }
    .likes{
        margin: 0;
    }
    .action-btns{
        margin-block: 4px;
        height: 40px;

    }
    

   
   
    form{
        display: flex;
        justify-content: start;
        margin-block-end: 8px;
        textarea{
            width: 100%;
            resize: none;
            font: inherit;
            outline: none;
            border: none;
            color: #737373;
            padding: 0;
        }

        .post-btn{
            background-color: white;
            color:#0095F6;
            width: 30px;
            padding: 5px;
            font-weight: 600;
        }

    }


    .comments {
        
        gap: 10px;
        align-items: center;
    }

    .comments-btn{
        color: #737373;
        background-color: white;
        cursor: pointer;

    }

    &>*{
        margin-block: 2px;
    }
}
}


