.story-list {
    // list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 470px;
    li {       
        padding: 5px;
        margin: 5px;
    }
    a {
        color: $clr1;
        padding: 10px;
    }    
    pre {
        background-color: #ddd;
        font-size: .5em;
        color: #333;
        padding: .2em;
        margin: .2em;
    }    
}



