.story-details{
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5,minmax(0.5fr,1fr));
    grid-template-rows: repeat(11,minmax(0.5fr,1fr));
    // max-width:1102px ;
    // max-height: 703px;

    & >*:not(.detail-img){
        padding: 16px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        place-self: start;
        width: 100%;
    }

    .detail-img{
        grid-area: 1/1/12/4;
        place-self: center;
        aspect-ratio: 1/1;
        
        width: 100%;
        height: 100%;
    }

    .detail-title{
        gap:10px ;
     grid-area: 1/4/3/6;  
    }
    .detail-comments{
        grid-area: 3/4/8/6;
        gap: 20px;
        div{
            gap: 10px;
        }
        article{
            gap: 10px;    
        }
    }
    .actions{
        grid-area: 8/4/11/6;

    }
    .detail-comment{
        grid-area: 11/4/12/6;
        padding: 16px;
    }
}