.story-nav{
    // grid-row: 2;
    height: 100vh;
    width: 244px;
    padding-inline-start: em(15px,14px);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1px  0.5px;
    font-size: em(16px,14px);
    
    .logo {
        height: 80px;
        // align-items: start;
        // justify-items: start;
        .logo-small{
            display: none;
        }
        span{
            svg{

                width: 100px;
                height: 50px;

            }
        }
    }
    .nav-btn {
        // font-size: ;
        border: none;
        display: flex;
        align-items: center;
        min-width: 48px;
        gap: 10px;
        &.active{
            font-weight: 600;
            .svg-icon{
                svg{
                    fill: #000;
                }
            }
        }
        .user-img{
            width: 24px;
            height: 24px;
        }
    
    }

    :active{
        opacity: 0.7;
    }

    &>*:hover:not(.logo) {
        border-radius: 10px;
        background-color: rgba(188, 195, 206, 0.481);
    }
    &>*{
        cursor: pointer;
        padding: 10px;
    }
}
@media (max-width:$nav-breakpoint){
    .story-nav{
        width: $nav-narrow-width;
        .svg-icon.logo-small{
            svg{
                width: 24px;
                height: 24px;
            }
            display: block;
        }
        .svg-icon.logo{
            display: none;
        }
        .btn-title{
            display: none;
        }
    }

}