.detail-wrap{
    z-index: 20;
    padding: 20px;
    max-height: 95vh;

.story-details{
    display: flex;
    height: 100%;
    aspect-ratio: 1/.7;
    max-height: 90vh;
    width: 100%;
    max-width: 100vw;

    
    .detail-img{
    place-self: center;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #000;
}
    .info-wrap{
    background-color: white;
    min-width:400px ;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;



    .detail-title{
        align-self: start;
        display: flex;
        align-items: center;
         gap:10px ;
    }
    .detail-comments{
        overflow: auto;
        flex: 1;
        gap: 20px;
        div{
            gap: 10px;
        }
        article{
            gap: 10px;    
        }
    }
    // .actions{

    // }
    .detail-comment{
        align-self: end;
        justify-self: end;
    }
    form{
        display: flex;
        justify-content: start;
        
        
        textarea{
            width: 100%;
            resize: none;
            font: 1em sans-serif;
            outline: none;
            border: none;
            color: #737373;
        }
        // ::placeholder{
        //     margin: 0;
        //     padding: 5px;
        // }
 
        .post-btn:disabled{
            cursor:default;
            opacity: 0.2;
        }
        .post-btn{
            background-color: white;
            color:#0095F6;
            width: 30px;
            padding: 5px;
            font-weight: 600;
        }
    }
    & >*{
        padding-inline: 16px;
        padding-block: 5px;
               width: 100%;
    }
    & >*:not(.detail-comment){
        border-bottom: 1px solid rgb(239 239 239) ;
    }
}
}
}