.story-nav{
    grid-row: 2;
    // position: fixed;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 1px  0.5px;
    .logo {
        height: 80px;
        span{
            svg{

                width: 100px;
                height: 50px;

            }
        }
    }
    .nav-btn {
        // font-size: ;
        border: none;
        // color: #5f6368;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        min-width: 48px;
    
    }
    &>*:hover {
        border-radius: 10px;
        background-color: rgba(188, 195, 206, 0.481);
    
    }
}
