.story-preview {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    // grid-row-gap: 5px;
    margin-block-start: 40px;
    border-bottom:$gray-line 1px solid;
    font-size: 1em;
    width: 470px;
   
    .title {
        display: flex;
        // grid-area: 1 / 1 / 2 / 2;
        gap: 10px;
        align-items: center;
    }

    .img {
        // grid-area: 2 / 1 / 3 / 2;
        width: 100%;
        height: auto;
        border-radius: 3px;
    }
    .action-btns{
        margin-top: 10px;

    }
    

   
   
    form{
        display: flex;
        justify-content: start;
        textarea{
            width: 100%;
            resize: none;
            font: inherit;
            outline: none;
            border: none;
            color: #737373;
            padding: 5px;
        }

        .post-btn{
            background-color: white;
            color:#0095F6;
            width: 30px;
            padding: 5px;
            font-weight: 600;
        }
    }
    .txt {
        // grid-area: 5 / 1 / 6 / 2;
        gap: 10px;
        align-items: center;
        margin-bottom: 10px;
    }

    .comments {
        
        gap: 10px;
        align-items: center;
    }

    .comments-btn{
        color: #737373;
        background-color: white;
        cursor: pointer;
        margin-bottom: 5px;

    }


}


