
@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto/roboto-regular-webfont.woff2);
}
@font-face {
    font-family: segoeRegular;
    src: url(../../fonts/Segoe/Segoe\ UI.ttf);
}
@font-face {
    font-family: Bilabong;
    src: url(../../fonts/Bilabong/Billabong.ttf);
}